In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [5]:
df = pd.read_csv('mortality_and_global_health_estimates_indicators_nga.csv')
df.shape

(4185, 39)

In [6]:
df.head()

,GHO (CODE),GHO (DISPLAY),GHO (URL),PUBLISHSTATE (CODE),PUBLISHSTATE (DISPLAY),PUBLISHSTATE (URL),YEAR (CODE),YEAR (DISPLAY),YEAR (URL),REGION (CODE),...,CHILDCAUSE (CODE),CHILDCAUSE (DISPLAY),CHILDCAUSE (URL),Display Value,Numeric,Low,High,StdErr,StdDev,Comments
0,#indicator+code,#indicator+name,#indicator+url,#status+code,#status+name,NaN,NaN,#date+year,NaN,#region+code,...,NaN,NaN,NaN,NaN,#indicator+value+num,NaN,NaN,NaN,NaN,NaN
1,GBD_DALYRTAGE,"Age-standardized DALYs (per 100,000)",https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2000.0,2000,NaN,AFR,...,NaN,NaN,NaN,"111,480",111479.79688,NaN,NaN,NaN,NaN,NaN
2,WHOSIS_000004,Adult mortality rate (probability of dying bet...,https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2001.0,2001,NaN,AFR,...,NaN,NaN,NaN,411,411.48460,NaN,NaN,NaN,NaN,NaN
3,WHOSIS_000004,Adult mortality rate (probability of dying bet...,https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2002.0,2002,NaN,AFR,...,NaN,NaN,NaN,432,431.98940,NaN,NaN,NaN,NaN,NaN
4,WHOSIS_000004,Adult mortality rate (probability of dying bet...,https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2002.0,2002,NaN,AFR,...,NaN,NaN,NaN,396,396.01530,NaN,NaN,NaN,NaN,NaN

In [7]:
# let's check unique values
columns=df.columns
for col in columns:
    print(col,':\n',df[col].unique())
    print(df[col].value_counts())
    print('\n',20*'**','\n')

GHO (CODE) :
 ['#indicator+code' 'GBD_DALYRTAGE' 'WHOSIS_000004' 'MORT_300'
 'WHOSIS_000015' 'LIFE_0000000029' 'LIFE_0000000032' 'LIFE_0000000030'
 'WHS2_126' 'LIFE_0000000031' 'LIFE_0000000033' 'LIFE_0000000034'
 'LIFE_0000000035' 'WHS2_131' 'CHILDMORT_MORTALITY_10TO14'
 'MDG_0000000007' 'MDG_0000000001' 'WHOSIS_000003' 'WHOSIS_000014'
 'CHILDMORT5TO14' 'WHOSIS_000016' 'CM_01' 'CM_02' 'CM_03' 'CM_04'
 'CHILDMORT_DEATHS_10TO14' 'MDG_0000000026' 'MORT_MATERNALNUM']
MORT_300                      756
LIFE_0000000034               285
LIFE_0000000029               285
LIFE_0000000032               285
LIFE_0000000030               285
LIFE_0000000035               285
LIFE_0000000031               285
LIFE_0000000033               285
MDG_0000000001                174
MDG_0000000007                174
CM_02                         171
CM_01                         159
CHILDMORT_DEATHS_10TO14        96
CM_04                          96
CHILDMORT5TO14                 96
WHOSIS_000016                  96
WHS2_131                       60
WHOSIS_000003                  55
CM_03                          54
WHOSIS_000004                  51
MDG_0000000026                 36
MORT_MATERNALNUM               36
CHILDMORT_MORTALITY_10TO14     31
WHOSIS_000014                  22
WHOSIS_000015                  12
GBD_DALYRTAGE                   8
WHS2_126                        6
#indicator+code                 1
Name: GHO (CODE), dtype: int64

 ****************************************

GHO (DISPLAY) :
 ['#indicator+name' 'Age-standardized DALYs (per 100,000)'
 'Adult mortality rate (probability of dying between 15 and 60 years per 1000 population)'
 'Distribution of causes of death among children aged < 5 years (%)'
 'Life expectancy at age 60 (years)'
 'nMx - age-specific death rate between ages x and x+n'
 'ndx - number of people dying between ages x and x+n'
 'nqx - probability of dying between ages x and x+n'
 'Distribution of years of life lost by major cause group'
 'lx - number of people left alive at age x'
 'nLx - person-years lived between ages x and x+n'
 'Tx - person-years lived above age x' 'ex - expectation of life at age x'
 'Age-standardized NCD mortality rate  (per 100 000 population)'
 'Mortality rate among children ages 10 to 14 years (per 1000 children aged 10)'
 'Under-five mortality rate (per 1000 live births) (SDG 3.2.1)'
 'Infant mortality rate (between birth and 11 months per 1000 live births)'
 'Neonatal mortality rate (0 to 27 days) per 1000 live births) (SDG 3.2.2)'
 'Stillbirth rate (per 1000 total births)'
 'Mortality rate for 5-14 year-olds (probability of dying per 1000 children aged 5-14 years)'
 'Mortality rate among children ages 5 to 9 years (per 1000 children aged 5)'
 'Number of deaths among children under-five'
 'Number of infant deaths (between birth and 11 months)'
 'Number of neonatal deaths (0 to 27 days)'
 'Number of deaths among children ages 5 to 9 years'
 'Number of deaths among children ages 10 to 14 years'
 'Maternal mortality ratio (per 100 000 live births)'
 'Number of maternal deaths']
Distribution of causes of death among children aged < 5 years (%)                             756
Tx - person-years lived above age x                                                           285
nMx - age-specific death rate between ages x and x+n                                          285
ndx - number of people dying between ages x and x+n                                           285
nqx - probability of dying between ages x and x+n                                             285
ex - expectation of life at age x                                                             285
lx - number of people left alive at age x                                                     285
nLx - person-years lived between ages x and x+n                                               285
Infant mortality rate (between birth and 11 months per 1000 live births)                      174
Under-five mortality rate (per 1000 live births) (SDG 3.2.1)                                  174
Number of infant deaths (between birth and 11 months)                                         171
Number of deaths among children under-five                                                    159
Number of deaths among children ages 10 to 14 years                                            96
Number of deaths among children ages 5 to 9 years                                              96
Mortality rate for 5-14 year-olds (probability of dying per 1000 children aged 5-14 years)     96
Mortality rate among children ages 5 to 9 years (per 1000 children aged 5)                     96
Age-standardized NCD mortality rate  (per 100 000 population)                                  60
Neonatal mortality rate (0 to 27 days) per 1000 live births) (SDG 3.2.2)                       55
Number of neonatal deaths (0 to 27 days)                                                       54
Adult mortality rate (probability of dying between 15 and 60 years per 1000 population)        51
Maternal mortality ratio (per 100 000 live births)                                             36
Number of maternal deaths                                                                      36
Mortality rate among children ages 10 to 14 years (per 1000 children aged 10)                  31
Stillbirth rate (per 1000 total births)                                                        22
Life expectancy at age 60 (years)                                                              12
Age-standardized DALYs (per 100,000)                                                            8
Distribution of years of life lost by major cause group                                         6
#indicator+name                                                                                 1
Name: GHO (DISPLAY), dtype: int64

 ****************************************

GHO (URL) :
 ['#indicator+url'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/157'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/64'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/89'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/2977'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/29'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/32'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/30'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/90'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/31'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/33'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/34'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/35'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/78'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/5668'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/7'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/1'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/67'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/2444'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/4802'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/5669'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/2712'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/2711'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/2714'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/5671'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/5670'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/26'
 'https://www.who.int/data/gho/indicator-metadata-registry/imr-details/4622']
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/89      756
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/34      285
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/29      285
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/32      285
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/30      285
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/35      285
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/31      285
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/33      285
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/1       174
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/7       174
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/2711    171
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/2712    159
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/5670     96
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/5671     96
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/4802     96
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/5669     96
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/78       60
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/67       55
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/2714     54
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/64       51
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/26       36
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/4622     36
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/5668     31
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/2444     22
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/2977     12
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/157       8
https://www.who.int/data/gho/indicator-metadata-registry/imr-details/90        6
#indicator+url                                                                 1
Name: GHO (URL), dtype: int64

 ****************************************

PUBLISHSTATE (CODE) :
 ['#status+code' 'PUBLISHED']
PUBLISHED       4184
#status+code       1
Name: PUBLISHSTATE (CODE), dtype: int64

 ****************************************

PUBLISHSTATE (DISPLAY) :
 ['#status+name' 'Published']
Published       4184
#status+name       1
Name: PUBLISHSTATE (DISPLAY), dtype: int64

 ****************************************

PUBLISHSTATE (URL) :
 [nan]
Series([], Name: PUBLISHSTATE (URL), dtype: int64)

 ****************************************

YEAR (CODE) :
 [  nan 2000. 2001. 2002. 2007. 2008. 2012. 2013. 2003. 2004. 2005. 2006.
 2009. 2010. 2011. 2014. 2015. 2016. 2017. 2019. 2018. 1998. 1999. 1972.
 1973. 1974. 1975. 1988. 1989. 1990. 1991. 1964. 1965. 1966. 1967. 1980.
 1981. 1982. 1983. 1984. 1997. 1976. 1992. 1968. 1969. 1970. 1971. 1985.
 1986. 1987. 2020. 2021. 1977. 1978. 1979. 1993. 1994. 1995. 1996.]
2000.0    487
2015.0    480
2010.0    480
2005.0    477
2019.0    435
2012.0     85
2006.0     78
2016.0     78
2014.0     78
2009.0     78
2011.0     78
2004.0     78
2003.0     78
2013.0     78
2008.0     78
2007.0     78
2002.0     78
2001.0     78
2017.0     75
2018.0     33
2020.0     30
1990.0     29
1995.0     29
1994.0     29
1993.0     29
1992.0     29
1997.0     29
1991.0     29
1996.0     29
1998.0     29
1999.0     29
2021.0     27
1988.0     16
1987.0     16
1986.0     16
1985.0     16
1989.0     16
1983.0     14
1981.0     14
1972.0     14
1979.0     14
1978.0     14
1977.0     14
1973.0     14
1984.0     14
1980.0     14
1971.0     14
1970.0     14
1982.0     14
1974.0     14
1976.0     14
1975.0     14
1969.0     14
1968.0     11
1967.0     10
1966.0      9
1965.0      9
1964.0      6
Name: YEAR (CODE), dtype: int64

 ****************************************

YEAR (DISPLAY) :
 ['#date+year' '2000' '2001' '2002' '2007' '2008' '2012' '2013' '2003'
 '2004' '2005' '2006' '2009' '2010' '2011' '2014' '2015' '2016' '2017'
 '2019' '2018' '1998' '1999' '1972' '1973' '1974' '1975' '1988' '1989'
 '1990' '1991' '1964' '1965' '1966' '1967' '1980' '1981' '1982' '1983'
 '1984' '1997' '1976' '1992' '1968' '1969' '1970' '1971' '1985' '1986'
 '1987' '2020' '2021' '1977' '1978' '1979' '1993' '1994' '1995' '1996']
2000          487
2015          480
2010          480
2005          477
2019          435
2012           85
2011           78
2016           78
2014           78
2009           78
2006           78
2004           78
2003           78
2013           78
2008           78
2007           78
2002           78
2001           78
2017           75
2018           33
2020           30
1997           29
1992           29
1990           29
1993           29
1994           29
1995           29
1991           29
1996           29
1998           29
1999           29
2021           27
1989           16
1988           16
1987           16
1986           16
1985           16
1972           14
1979           14
1978           14
1977           14
1973           14
1971           14
1970           14
1969           14
1974           14
1976           14
1975           14
1984           14
1983           14
1982           14
1981           14
1980           14
1968           11
1967           10
1966            9
1965            9
1964            6
#date+year      1
Name: YEAR (DISPLAY), dtype: int64

 ****************************************

YEAR (URL) :
 [nan]
Series([], Name: YEAR (URL), dtype: int64)

 ****************************************

REGION (CODE) :
 ['#region+code' 'AFR']
AFR             4184
#region+code       1
Name: REGION (CODE), dtype: int64

 ****************************************

REGION (DISPLAY) :
 ['#region+name' 'Africa']
Africa          4184
#region+name       1
Name: REGION (DISPLAY), dtype: int64

 ****************************************

REGION (URL) :
 [nan]
Series([], Name: REGION (URL), dtype: int64)

 ****************************************

WORLDBANKINCOMEGROUP (CODE) :
 [nan 'WB_LMI']
WB_LMI    1995
Name: WORLDBANKINCOMEGROUP (CODE), dtype: int64

 ****************************************

STARTYEAR :
 ['#date+year+start' '2000' '2001' '2002' '2007' '2008' '2012' '2013'
 '2003' '2004' '2005' '2006' '2009' '2010' '2011' '2014' '2015' '2016'
 '2017' '2019' '2018' '1998' '1999' '1972' '1973' '1974' '1975' '1988'
 '1989' '1990' '1991' '1964' '1965' '1966' '1967' '1980' '1981' '1982'
 '1983' '1984' '1997' '1976' '1992' '1968' '1969' '1970' '1971' '1985'
 '1986' '1987' '2020' '2021' '1977' '1978' '1979' '1993' '1994' '1995'
 '1996']
2000                487
2015                480
2010                480
2005                477
2019                435
2012                 85
2011                 78
2016                 78
2014                 78
2009                 78
2006                 78
2004                 78
2003                 78
2013                 78
2008                 78
2007                 78
2002                 78
2001                 78
2017                 75
2018                 33
2020                 30
1997                 29
1992                 29
1990                 29
1993                 29
1994                 29
1995                 29
1991                 29
1996                 29
1998                 29
1999                 29
2021                 27
1989                 16
1988                 16
1987                 16
1986                 16
1985                 16
1972                 14
1979                 14
1978                 14
1977                 14
1973                 14
1971                 14
1970                 14
1969                 14
1974                 14
1976                 14
1975                 14
1984                 14
1983                 14
1982                 14
1981                 14
1980                 14
1968                 11
1967                 10
1966                  9
1965                  9
1964                  6
#date+year+start      1
Name: STARTYEAR, dtype: int64

 ****************************************

ENDYEAR :
 ['#date+year+end' '2000' '2001' '2002' '2007' '2008' '2012' '2013' '2003'
 '2004' '2005' '2006' '2009' '2010' '2011' '2014' '2015' '2016' '2017'
 '2019' '2018' '1998' '1999' '1972' '1973' '1974' '1975' '1988' '1989'
 '1990' '1991' '1964' '1965' '1966' '1967' '1980' '1981' '1982' '1983'
 '1984' '1997' '1976' '1992' '1968' '1969' '1970' '1971' '1985' '1986'
 '1987' '2020' '2021' '1977' '1978' '1979' '1993' '1994' '1995' '1996']
2000              487
2015              480
2010              480
2005              477
2019              435
2012               85
2011               78
2016               78
2014               78
2009               78
2006               78
2004               78
2003               78
2013               78
2008               78
2007               78
2002               78
2001               78
2017               75
2018               33
2020               30
1997               29
1992               29
1990               29
1993               29
1994               29
1995               29
1991               29
1996               29
1998               29
1999               29
2021               27
1989               16
1988               16
1987               16
1986               16
1985               16
1972               14
1979               14
1978               14
1977               14
1973               14
1971               14
1970               14
1969               14
1974               14
1976               14
1975               14
1984               14
1983               14
1982               14
1981               14
1980               14
1968               11
1967               10
1966                9
1965                9
1964                6
#date+year+end      1
Name: ENDYEAR, dtype: int64

 ****************************************

WORLDBANKINCOMEGROUP (DISPLAY) :
 [nan 'Lower-middle-income']
Lower-middle-income    1995
Name: WORLDBANKINCOMEGROUP (DISPLAY), dtype: int64

 ****************************************

WORLDBANKINCOMEGROUP (URL) :
 [nan]
Series([], Name: WORLDBANKINCOMEGROUP (URL), dtype: int64)

 ****************************************

COUNTRY (CODE) :
 ['#country+code' 'NGA']
NGA              4184
#country+code       1
Name: COUNTRY (CODE), dtype: int64

 ****************************************

COUNTRY (DISPLAY) :
 ['#country+name' 'Nigeria']
Nigeria          4184
#country+name       1

Name: COUNTRY (DISPLAY), dtype: int64

 ****************************************

COUNTRY (URL) :
 [nan]
Series([], Name: COUNTRY (URL), dtype: int64)

 ****************************************

AGEGROUP (CODE) :
 [nan 'MONTHS1-59' 'YEARS0-4' 'DAYS0-27' 'AGELT1' 'AGE1-4' 'AGE5-9'
 'AGE10-14' 'AGE15-19' 'AGE80-84' 'AGE85PLUS' 'AGE70-74' 'AGE75-79'
 'AGE60-64' 'AGE65-69' 'AGE45-49' 'AGE50-54' 'AGE55-59' 'AGE35-39'
 'AGE40-44' 'AGE25-29' 'AGE30-34' 'AGE20-24']
MONTHS1-59    252
DAYS0-27      252
YEARS0-4      252
AGE60-64      105
AGE30-34      105
AGE25-29      105
AGE40-44      105
AGE35-39      105
AGE55-59      105
AGE50-54      105
AGE45-49      105
AGE65-69      105
AGE75-79      105
AGE70-74      105
AGE85PLUS     105
AGE80-84      105
AGE15-19      105
AGE10-14      105
AGE5-9        105
AGE1-4        105
AGELT1        105
AGE20-24      105
Name: AGEGROUP (CODE), dtype: int64

 ****************************************

AGEGROUP (DISPLAY) :
 [nan '1-59 months' '0-4 years' '0-27 days' '<1 year' '1-4 years'
 '5-9 years' '10-14 years' '15-19  years' '80-84 years' '85+ years'
 '70-74 years' '75-79 years' '60-64 years' '65-69 years' '45-49 years'
 '50-54 years' '55-59 years' '35-39 years' '40-44 years' '25-29 years'
 '30-34 years' '20-24 years']
1-59 months     252
0-27 days       252
0-4 years       252
60-64 years     105
30-34 years     105
25-29 years     105
40-44 years     105
35-39 years     105
55-59 years     105
50-54 years     105
45-49 years     105
65-69 years     105
75-79 years     105
70-74 years     105
85+ years       105
80-84 years     105
15-19  years    105
10-14 years     105
5-9 years       105
1-4 years       105
<1 year         105
20-24 years     105
Name: AGEGROUP (DISPLAY), dtype: int64

 ****************************************

AGEGROUP (URL) :
 [nan]
Series([], Name: AGEGROUP (URL), dtype: int64)

 ****************************************

SEX (CODE) :
 ['#sex+code' nan 'BTSX' 'MLE' 'FMLE']
BTSX         1222
MLE          1060
FMLE         1060
#sex+code       1
Name: SEX (CODE), dtype: int64

 ****************************************

SEX (DISPLAY) :
 ['#sex+name' nan 'Both sexes' 'Male' 'Female']
Both sexes    1222
Male          1060
Female        1060
#sex+name        1
Name: SEX (DISPLAY), dtype: int64

 ****************************************

SEX (URL) :
 [nan]
Series([], Name: SEX (URL), dtype: int64)

 ****************************************

GHECAUSES (CODE) :
 [nan 'GHE000' 'GHE001' 'GHE060' 'GHE151']
GHE001    4
GHE060    4
GHE151    4
GHE000    2
Name: GHECAUSES (CODE), dtype: int64

 ****************************************

GHECAUSES (DISPLAY) :
 [nan 'All Causes' 'Communicable & other Group I'
 'Noncommunicable diseases' 'Injuries']
Communicable & other Group I    4
Noncommunicable diseases        4
Injuries                        4
All Causes                      2
Name: GHECAUSES (DISPLAY), dtype: int64

 ****************************************

GHECAUSES (URL) :
 [nan]
Series([], Name: GHECAUSES (URL), dtype: int64)

 ****************************************

CHILDCAUSE (CODE) :
 [nan 'CH3' 'CH6' 'CH8' 'CH10' 'CH12' 'CH13' 'CH15' 'CH16' 'CH2' 'CH5'
 'CH7' 'CH9' 'CH11' 'CH17']
CH3     54
CH6     54
CH8     54
CH10    54
CH12    54
CH13    54
CH15    54
CH16    54
CH2     54
CH5     54
CH7     54
CH9     54
CH11    54
CH17    54
Name: CHILDCAUSE (CODE), dtype: int64

 ****************************************

CHILDCAUSE (DISPLAY) :
 [nan 'Diarrhoeal diseases' 'Measles' 'Malaria' 'Prematurity'
 'Sepsis and other infectious conditions of the newborn'
 'Other communicable, perinatal and nutritional conditions'
 'Congenital anomalies' 'Other noncommunicable diseases' 'HIV/AIDS'
 'Tetanus' 'Meningitis/encephalitis' 'Acute lower respiratory infections'
 'Birth asphyxia and birth trauma' 'Injuries']
Diarrhoeal diseases                                         54
Measles                                                     54
Malaria                                                     54
Prematurity                                                 54
Sepsis and other infectious conditions of the newborn       54
Other communicable, perinatal and nutritional conditions    54
Congenital anomalies                                        54
Other noncommunicable diseases                              54
HIV/AIDS                                                    54
Tetanus                                                     54
Meningitis/encephalitis                                     54
Acute lower respiratory infections                          54
Birth asphyxia and birth trauma                             54
Injuries                                                    54
Name: CHILDCAUSE (DISPLAY), dtype: int64

 ****************************************

CHILDCAUSE (URL) :
 [nan]
Series([], Name: CHILDCAUSE (URL), dtype: int64)

 ****************************************

Display Value :
 [nan '111,480' '411' ... '1 129 [890-1 511]' '1 127 [877-1 548]'
 '81 747 [61 938-122 199]']
0                          450
0.1                        187
0.2                         73
0.3                         46
1.00E+05                    15
                          ...
63.4674561                   1
59.47814223                  1
55.00975217                  1
4.931841169                  1
81 747 [61 938-122 199]      1
Name: Display Value, Length: 3366, dtype: int64

 ****************************************

Numeric :
 ['#indicator+value+num' '111479.79688' '411.48460' ... '1129.18314'
 '1126.90937' '81747.19157']
0.00000         54
1.00000         15
100000.00000    15
0.00012          6
0.00137          4
                ..
5961.49426       1
4215.63194       1
596.96702        1
1401.29783       1
81747.19157      1
Name: Numeric, Length: 3957, dtype: int64

 ****************************************

Low :
 [        nan   345.5269    332.0644  ...   889.88957   877.44354
 61937.70857]
9025.00000      2
345.52690       1
40.89968        1
15.06488        1
15.85382        1
               ..
168637.00000    1
169140.00000    1
169396.00000    1
169843.00000    1
61937.70857     1
Name: Low, Length: 1355, dtype: int64

 ****************************************

High :
 [         nan    859.9843     886.7744  ...   1510.53477   1548.46693
 122199.0043 ]
22806.00000     2
437220.00000    2
859.98430       1
55.41069        1
40.26322        1
               ..
213021.00000    1
214106.00000    1
214690.00000    1
216152.00000    1
122199.00430    1
Name: High, Length: 1354, dtype: int64

 ****************************************

StdErr :
 [nan]
Series([], Name: StdErr, dtype: int64)

 ****************************************

StdDev :
 [nan]
Series([], Name: StdDev, dtype: int64)

 ****************************************

Comments :
 [nan]
Series([], Name: Comments, dtype: int64)

 ****************************************